html {
  scroll-behavior: smooth;
}

body {
 font-family: "Montserrat";
}

#title {
 background-color: #ff4c68;
}

#heading {
 font-size: 3.5rem;
 line-height: 1.5;
 font-weight: 900;
}

.container-fluid {
 padding: 3% 15% 7%;
}

/* Nav Bar */

.navbar {
 padding: 0 0 4.5rem 0;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
}

.navbar-item {
 padding: 0 18px;
}

.nav-link {
 font-size: 1.2rem;
 font-family: "Montserrat-Light";
}

/* Download Section */
.download-button {
 margin: 5% 3% 5% 0%;
}

/* Title Image  */

#phone-dog {
 transform: rotate(25deg);
 width: 50%;
 position: absolute;
 right: 25%;
}

/* Features  */
.features {
 text-align: center;
 padding: 5%;
}

#features {
 padding: 7% 15%;
 background-color: white;
 position: relative;
}

.features i {
 padding-bottom: 1rem;
}

.features i:hover {
 opacity: 1;
}

.icon {
 color: red;
 opacity: .6;
}

.features h3 {
 font-family: "Montserrat-Bold";
 font-weight: bold;
}

.features p {
 color: #8f8f8f;
}

/* Testimonials  */
#testimonials {
 text-align: center;
 background-color: #ff4c68;
 color: white;
}

#testimonials h2 {
 font-family: "Montserratt-Bold";
 font-size: 3rem;
 font-weight: 900;
 line-height: 1.5;
}

.carousel-item {
 padding: 7% 15%;
}

.test-img {
 border-radius: 100%;
 width: 10%;
 margin: 20px;
}

/* Press */
#press {
 background-color: #ff4c68;
 text-align: center;
 padding-bottom: 3%;
}

.press-logo {
 width: 15%;
 margin: 20px 20px 50px 20px;
}

/* Pricing */
#pricing {
  padding: 5%;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;
  text-align: center;
}

#cta h3 {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Footer */
#footer {
  text-align: center;
  padding-top: 1%;
}

#footer a {
  padding: 1%;
}


@media screen and (max-width: 1028px) {
  #phone-dog {
    transform: rotate(0deg);
    position: static;
  }

  .title {
    text-align: center;
  }
}

